.banner{
    background-image: url("/static/fruitsandveg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: Optima, sans-serif;
    font-size: 200%;
    color:aliceblue;
    text-shadow:2px 2px 4px black;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%;
    position: fixed;
}

body{
    margin:0;
}

/* The input menu */
.input-box {
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    height: auto; /* Full-height: remove this if you want "auto" height */
    width: 200px;
    position: fixed;
    margin-top: 130px;
    margin-left:10px;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Hides arrows in Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.submitbutton{
    background-color: aquamarine;
    border: 1px solid #ccc;
}
.submitbutton:active{
    background-color: #fff;
}

