* {
    padding:0;
    margin:0;
    box-sizing:border-box;
}
.banner{
    background-image: url("/static/MDN_logo.JPG");
    background-repeat: no-repeat;
    background-size: 300px;
    background-position: center;
    background-color: #f48aa0;
    margin: 0;
    padding-top: 75px;
    padding-bottom: 75px;
    width: 100%;
    top:0;
}
/* NAV */
nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f48aa0;
    box-shadow: 0px 8px 6px -6px rgba(0, 0, 0, 0.5);
    border-bottom: 2px solid rgb(168,183,198);
}
li {
    float:left;
    border-right: 1.5px solid #fff;
}
li:last-child {
    border-right: none;
    border-left: 1.5px solid #fff;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: rgb(168,183,198);
    color:#000;
}
.active {
    background-color: #fff;
    color: #000;
}
/* body */
body {
    margin:0;
    font-family: 'Source Sans Pro', sans-serif;
}

/* The input menu */
.input-box {
    float: left;
    /*display: flex;*/
    height: 100vh;
    width: 200px;
    overflow-x: hidden;
    padding: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-right: 1.5px solid rgb(168,183,198);
    border-bottom: 1.5px solid rgb(168,183,198);
    
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}

/* Hides arrows in Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.submitbutton{
    color:#fff;
    font-weight: bold;
    background-color: #f48aa0;
    border: 1px solid #ccc;
    padding:10px;
}
.submitbutton:active{
    background-color: #fff;
    color:rgb(168,183,198);
}

/* Cards*/
.cards-con{
    display: flex;
    flex-wrap: wrap;
}
.cards{
    width:200px;
    background-color: #ccc;
    border-radius: 10px;
    margin: 20px;
}
.cards-text{
    text-align: center;
}
.cards-text h4{
    padding: 1rem 0;
    font-size: 25px;
}
.img-con img{
    width:100%;
    border-radius: 10px;
}
.cards-padding-con{
    padding: .5rem;
}
.cards-cost{
    font-size: 15px;
}

/* About Style */
.box{
    align-items: center;
    width: 80%;
    height: fit-content;
    background-color:#ccc;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}