* {
    padding:0;
    margin:0;
    box-sizing:border-box;
}
.banner{
    background-image: url("/static/MDN_logo.JPG");
    background-repeat: no-repeat;
    background-size: 300px;
    background-position: center;
    background-color: #f48aa0;
    margin: 0;
    padding-top: 75px;
    padding-bottom: 75px;
    width: 100%;
    top:0;
}
/* NAV */
nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f48aa0;
}
li {
    float:left;
    border-right: 1.5px solid #fff;
}
li:last-child {
    border-right: none;
    border-left: 1.5px solid #fff;
}
li a {
    font-family: 'Source Sans Pro', sans-serif;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: rgb(168,183,198);
    color:#000;
}
.active {
    background-color: #fff;
    color: #000;
}
/* body */
body {
    margin:0;
}

/* The input menu */
.input-box {
    float: left;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    display: flex;
    height: 100vh; /* Full-height: remove this if you want "auto" height */
    width: 200px;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Hides arrows in Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
#budget{
    margin-top: 50px;
    padding: 5px;
}
.submitbutton{
    color:#fff;
    font-weight: bold;
    background-color: #f48aa0;
    border: 1px solid #ccc;
    padding:10px;
    margin-top: 5px;
}
.submitbutton:active{
    background-color: #fff;
    color:rgb(168,183,198);
}

/* Cards*/
.cards-con{
    display: flex;
}
.cards{
    width:30rem;
    background-color: #ccc;
}
.img-con img{
    width:100%;
}