:root {
    --pink: #f48aa0;
    --gray: rgb(168, 183, 198);
    --dark-gray: rgb(125, 132, 138);
    --font: 'Source Sans Pro', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Center the input box next to the logo on the left */
.banner {
    display: flex;
    align-items: center;
    background-color: var(--pink);
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    top: 0;
    position: relative;
}

/* Add styles for the logo */
.banner .logo {
    height: auto;
    /* Allow the logo to scale proportionally */
    margin-right: 20px;
}

/* Center the input box vertically within the banner */
.input-box {
    display: flex;
    align-items: center;
    flex-grow: 1;
    /* Allow the input box to grow and fill the available space */
}

/* Adjust the form's width to accommodate both the input and submit button */
.input-box form {
    display: flex;
    align-items: center;
    width: 100%;
}

/* Center the submit button */
.input-box .submitbutton {
    margin-left: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    appearance: textfield;
}

.submitbutton {
    color: var(--pink);
    font-weight: bold;
    background-color: white;
    border: none;
    /* background-color: var(--pink);
    border: 1px solid var(--gray); */
    padding: 10px;
}

.submitbutton:active {
    background-color: var(--pink);
    color: white;
    border: 1px solid white
}

.input-input-box {
    height: 37.5px;
    width: 50%;
}

/* NAV */
nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: sticky;
    top: 0;
    left: 0;
    background-color: var(--pink);
    border-bottom: 2px solid var(--gray);
    box-shadow: 0px 8px 6px -6px rgba(0, 0, 0, 0.5);
}

nav li {
    float: left;
    border-right: 1.5px solid white;
}

nav li:last-child {
    border-right: none;
    border-left: 1.5px solid white;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: var(--gray);
    color: black;
}

.active {
    background-color: white;
    color: black;
}


/* body */
body {
    margin: 0;
    font-family: var(--font);
}

.content {
    margin: 20px;
}

/* Cards*/
.cards-con {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cards {
    width: 250px;
    background-color: var(--gray);
    border-radius: 10px;
    margin: 5px;
    border: 1px solid var(--dark-gray);
}

.cards-text {
    text-align: center;
}

.cards-text h4 {
    padding: 1rem 0;
    font-size: 25px;
}

.img-con img {
    width: 100%;
    max-height: 200px;
    border-radius: 10px;
    object-fit: cover;
}

.cards-padding-con {
    padding: .5rem;
}

.cards-cost {
    font-size: 15px;
}

/* About Style */
.box {
    align-items: center;
    width: 80%;
    height: fit-content;
    background-color: #fffafa;
    margin: auto;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Recipe Info Page */
.box h1 {
    margin: 20px;
}

.box li,
.box h2,
.box p {
    margin-left: 20px;
    margin-bottom: 15px;
}

.about-content p {
    font-size: 18px;
    line-height: 1.8;
}

.about-content ul {
    margin-left: 20px;
}

.recipe-img {
    display: flex;
    align-items: center;
    width: 90%;
    max-width: 600px;
    margin: auto;
    margin-bottom: 20px;
}

.easter-egg {
    display: inline-block;
}

.easter-egg::after {
    content: "About";
}

.easter-egg:hover::after {
    content: "About us ninjas";
    background-color: black;
    color: white
}

.box-con {
    display: flex;
    gap: 10px;
}

.goofy {
    background-color: transparent;
    box-shadow: none;
    flex: 1;
}

.goofy .info {
    text-align: center;
    padding: 0;
}

.goofy ul {
    list-style: none;
}

.the-table {
    margin-left: 20px;
}

table th {
    font-weight: 600;
}

table th,
table td {
    padding: 6px 13px;
    border: 1px solid #d0d7de;
}

td:nth-child(1) {
    font-weight: bold;
}

table tr {
    background-color: #ffffff;
    border-top: 1px solid hsla(210, 18%, 87%, 1);
}

table tr:nth-child(2n) {
    background-color: #f6f8fa;
}