{% extends "base.html" %}
{% block about %}active{% endblock about %}

{% block content %}
<div class="box">
    <h1>About us ninjas</h1>
    <p>MEALDEALNINJA is about making nuritional, affordable recipes for those who struggle with <b> FOOD
            INSECURITY</b>. We focus
        on recipes that can range from vegan, dairy free, and gluten free. The range of recipes also provide the
        amount of calories the meal is. Our main
        motivation to create a program was to help those with inaccessiable food options for those who can not afford a
        sustainable food plan.
        Food insercurity is a serious health issue that is not commonly talked about in the media. We hope to raise
        awareness to this health issue and help people overcome their inaccessiability to healthy and nuritional
        food.
        <a href="https://www.feedingamerica.org/hunger-in-america/food-insecurity" target="_blank">Check out this
            link to find more about food insecurity.</a>
    </p>
</div>
{% endblock content %}