<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meal Deal Ninja | About</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <header class="banner">
        <div class="logo">
            <a href="/"><img src="/static/MDN_new_logo.png" alt="Logo" style="width: 200px;"></a>
        </div>
    </header>
    <nav>
        <li><a href="/">Home</a></li>
        <li><a href="/Statistics">Stats</a></li>
        <li><a href="https://github.com/themysticsavages/mealdealninja" target="_blank">Github <img class="githublogo" src="/static/githubwhite.png"></a></li>
        <li style="float:right"><a class="active" href="/about">About</a></li>
    </nav>
    <div class="box">
        <h1>ABOUT</h1>
        <p>MDN is a website for people who want to get food based on their budget and nutrition.  </p>
    </div>
</body>
