<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meal Deal Ninja | 🥷🏻</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/script.js"></script>
</head>

<body>
    <header class="banner">
        <div class="logo">
            <img src="/static/MDN_new_logo.png" alt="Logo" style="width: 200px;">
        </div>
        <div class="input-box">
            <form>
                <input type="number" placeholder="Enter Preferred Budget" step="0.01" id="budget" name="budget" required class="input-input-box">
                <input type="submit" value="Find My Meal" class="submitbutton">
            </form>
        </div>
    </header>
    <nav>
        <li><a class="active" href="/">Home</a></li>
        <li><a href="/stats">Stats</a></li>
        <li><a href="https://github.com/themysticsavages/mealdealninja" target="_blank">Github <img class="githublogo" src="/static/githubwhite.png"></a></li>
        <li style="float:right"><a href="/about">About</a></li>
    </nav>

    <div class="cards-con">
        <div class="cards">
            <div class="cards-padding-con">
                <div class="img-con">
                    <img src="/static/MDN_logo.JPG" alt="">
                </div>
                <div class="cards-text">
                    <h4>Recipe Title</h4>
                    <p class="cards-cost">Cost: $</p>
                </div>
            </div>
        </div>
        <div class="cards">
            <div class="cards-padding-con">
                <div class="img-con">
                    <img src="/static/MDN_logo.JPG" alt="">
                </div>
                <div class="cards-text">
                    <h4>Recipe Title</h4>
                    <p class="cards-cost">Cost: $</p>
                </div>
            </div>
        </div>
        <div class="cards">
            <div class="cards-padding-con">
                <div class="img-con">
                    <img src="/static/MDN_logo.JPG" alt="">
                </div>
                <div class="cards-text">
                    <h4>Recipe Title</h4>
                    <p class="cards-cost">Cost: $</p>
                </div>
            </div>
        </div>
        <div class="cards">
            <div class="cards-padding-con">
                <div class="img-con">
                    <img src="/static/MDN_logo.JPG" alt="">
                </div>
                <div class="cards-text">
                    <h4>Recipe Title</h4>
                    <p class="cards-cost">Cost: $</p>
                </div>
            </div>
        </div>
        <div class="cards">
            <div class="cards-padding-con">
                <div class="img-con">
                    <img src="/static/MDN_logo.JPG" alt="">
                </div>
                <div class="cards-text">
                    <h4>Recipe Title</h4>
                    <p class="cards-cost">Cost: $</p>
                </div>
            </div>
        </div>
        <div class="cards">
            <div class="cards-padding-con">
                <div class="img-con">
                    <img src="/static/MDN_logo.JPG" alt="">
                </div>
                <div class="cards-text">
                    <h4>Recipe Title</h4>
                    <p class="cards-cost">Cost: $</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>