<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header class="banner">
        Placeholder Name
    </header>
    <div class="input-box">
        <a>Enter the prefered budget:</a>
        <form>
            <label for="budget">$</label>
            <input type="number" id="budget" name="budget" style="width: 75px;">
            <input type="submit" value="Find My Meal" class="submitbutton">
        </form>
    </div>
</body>
</html>