<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meal Deal Ninja | Recipe Info</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <header class="banner">
        <div class="logo">
            <a href="/"><img src="/static/MDN_new_logo.png" alt="Logo" style="width: 200px;"></a>
        </div>
    </header>
    <nav>
        <li><a href="/">Home</a></li>
        <li><a href="/stats">Stats</a></li>
        <li><a href="https://github.com/themysticsavages/mealdealninja" target="_blank">Github <img class="githublogo" src="/static/githubwhite.png"></a></li>
        <li style="float:right"><a href="/about">About</a></li>
    </nav>
    <div class="box">
        <h1>Recipe Title</h1>
        <img class="recipe-img" src="/static/placeholderimg.jpeg" alt="Logo">
        <ul> <h2>Ingredients:</h2>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <h2>Instructions:</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
</body>