{% extends "base.html" %}

{% block content %}
<div class="box-con">
    <div class="box goofy">
        <h1>{{ data["title"] }}</h1>
        <img class="recipe-img" src="{{ data['image'] }}" alt="Logo">
    </div>
    <div class="box goofy">
        <h2>Ingredients</h2>
        <ul>
            {% for ingredient, price in zip(data["ingredients"], data["Ing. Prices"]) %}
            <li>{{ ingredient }} ({{ price }})</li>
            {% endfor %}
        </ul>
        <br>
        <h2>Instructions</h2>
        <ul>
            {% for instruction in data["instructions"] %}
            <li>{{instruction}}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock content %}