{% extends "base.html" %}

{% block content %}
<div class="box-con">
    <div class="box goofy">
        <div>
            <div class="info">
                <h1>{{ data["title"] }}</h1>
                <p>{{ data["author"] }} • {{ data["date"] }}</p>
            </div>
            <img class="recipe-img" src="{{ data[' image'] }}" alt="Logo">
        </div>
    </div>
    <div class="box goofy">
        <div>
            <h1>${{ data["cost"] }} for {{ data["servings"] }} servings</h1>
            <h2 style="text-align: center;">Ingredients</h2>
            <ul>
                {% for ingredient, price in zip(data["ingredients"], data["Ing. Prices"]) %}
                <li>{{ ingredient }} ({{ price }})</li>
                {% endfor %}
            </ul>
        </div>
        <div>
            <h2>Nutritional Facts</h2>
            <table class="the-table" style="width: 50%">
                {% for metric, amount in data["Ing. Nutr"].items() %}
                <tr>
                    <td>{{ metric.replace("_", " ").title() }}</td>
                    <td>{{ amount }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
<div class="box-con" style="width: 70%; margin: auto">
    <div class="box goofy">
        <h1>Instructions</h1>
        <ul>
            {% for instruction in data["instructions"] %}
            <li>{{ instruction }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock content %}