{% extends "base.html" %}
{% block stats %}active{% endblock stats %}

{% block content %}
<div class="box">
    <h1>Stats</h1>
    <img src="../static/LET ME COMMMIT TO STATS .png" alt="">
    <p>This shows the followng statitics of food insercurity Rates in the US from 2001-2021
        Some people might think food insecruity is not a big thing. But food insecurity is a pressing global issue that demands immdeiate
attention and collective action. Millions of people around the world suffer from the debilitating
consequences of not having reliable access sufficient, safe, and nutritous food. As a whole,
we must recognize the urgency of this issue and work tirelessly to ensure that every individual has the fundamental right to nourishment and a brighter
,more secure future. </p>
</div>

{% endblock content %}
